a {
  color: purple;
}

.main-link {
  color: green;
}

.square-marker {
  list-style-type: square;
}

.img-marker {
  list-style-image: url(img/potato.svg);
}

ul ul {
  list-style-type: none;
}

.square-marker > a {
  text-decoration: none;
}

ol {
  list-style-position: inside;
}
