* {
  font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

p {
  align: center;
  color: #008000;
}

div {
  align: justify;
}

.red-color {
  color: red;
}

.nowrap {
  white-space: nowrap;
}

#italic-bold {
  font-weight: bold;
  font-style: italic;
}

.shadow {
  text-shadow: 5px -5px 3px #8a2be8;
}

.div1 {
  text-decoration: line-through;
  text-transform: uppercase;
  text-indent: 50px;
}

.div2 {
  letter-spacing: 30px;
  word-spacing: 50px;
}
