.journey-plan {
  background-color: rgb(255, 165, 0);
  width: 500px;
  padding: 20px;
  color: white;

}

.journey-plan h1 {
  font-size: 25px;
  font-weight: 900;
  margin: 0 0 10px 0;
}

.journey-plan ul {
  list-style-position: inside;
  list-style-type: none;

}

.journey-plan > ul > li {
  background-color: rgb(103, 158, 50);
  padding: 0 20px 0 50px;
}

.journey-plan ul ul li {
  margin-bottom: 10px;
  font-size: 18px;
  font-style: italic;
  background-color: rgb(153, 180, 102);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0 0;
}

.journey-plan span {
  padding: 10px 20px;
  display: inline-block;
}

.journey-plan > ul > li > span {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(199, 124, 106);
  margin-bottom: 10px;
}

.journey-plan ul ul li > span {
  background-color: rgb(218, 106, 32);
}

.main-list-icon {
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 5px 2px;
  background-image: url("icons/rule.svg");
}

.path-choice-icon {
  background-image: url("icons/ad_units.svg");
}

.plane-tickets-icon {
  background-image: url("icons/airplane_ticket.svg");
}

.hotel-icon {
  background-image: url("icons/hotel.svg");
}

.car-rent-icon {
  background-image: url("icons/car_rental.svg");
}

.bar-icon {
  background-image: url("icons/local_bar.svg");
}

.casino-icon {
  background-image: url("icons/casino.svg");
}

.museum-icon {
  background-image: url("icons/museum.svg");
}

.festivals-icon {
  background-image: url("icons/festival.svg");
}
